
<head>
    <title>Nutri Sport</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/npm.js" type="text/javascript"></script>
    <script src="js/functionsAjax.js" type="text/javascript"></script>
    <script src="js/functionsBotoes.js" type="text/javascript"></script>
</head>
<body>
    <div>
        {{include ('Menu.html') }}</div><br><br>

    <div class="container-fluid">
        <div class="row">

            <div type="text" id="titulovariados"class="col-xs-6 col-md-8 col-lg-10 ">
                <h1>Formulário de Cadastro de Produto</h1> </div> </div> 


        <div class="container">

            <br>
            <form class="col-md-6" id="formCadastrarProd">
                <div style="display: none;">

                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Nome Completo:</span>
                        <input type="text" class="form-control" name="nome" id="nome" maxlength="255" required>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Descricao:</span>
                        <input type="text" class="form-control" name="descricao" id="descricao" maxlength="255" required>
                    </div>
                </div>
             
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Preco:</span>
                        <input type="text" class="form-control" name="preco" id="preco" maxlength="20" required>
                    </div>
                </div>
                <br>
                

                <br><br><br>
                <div class="">
                    <button type="reset" id="btnLimparProd"><span class="glyphicon glyphicon-check"></span> Limpar</button>
                </div>
                <div class="">
                    <button type="button" id="btnCadastrarProd" name="btnCadastrarProd"><span class="glyphicon glyphicon-check"></span> Enviar</button>
                </div>
                <div class="form-group" id="retornoValidacaoProd">                      
                </div>
                            </form>

 </div> </div> 

            

        

</body>

