
   
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>

</head>
<body>
    <div>
        {{include ('Menu.html') }}</div><br><br>
    
    <div class="container">
            <div type="text" id="titulovariados"class="col-xs-6 col-md-8 col-lg-10 ">
                <h1><center>Academia NutriSport</center><br>
                
                
                <div type="text" id="textovariados"class="col-xs-6 col-md-8 col-lg-10 ">
               <p style="text-align: justify">
                   A NutriSport, com o objetivo de proporcionar aos seus alunos bem estar, saúde e qualidade de vida, disponibiliza em um ambiente descontraído varias opções de treinamento com um amplo quadro de aulas e modalidades para toda a sociedade.</p>
               <p> A nossa empresa possui uma equipe de profissionais altamente qualificados, em constante atualização para atender de forma personalizada os objetivos e necessidades de cada aluno. Atentos em acompanhar o seu dia-a-dia na academia orientando e estimulando 
                para um melhor desempenho. </p>
               
               <p> Inaugurada em 2017, a Academia NutriSport surgiu com o intuito e oferecer um novo conceito de academia reunindo várias atividades físicas em um só lugar</p><br><br>
                <center> <img src="img/academia.png" class="img-responsive"/><br></center></h1> <br></div> </div>
                <br>
                
                
                </div>
                <br><br><br>

       
    
    </body>


