
    <head>
        <title>NutriSport</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
        
    </head>

    <body> 
        
      <div>
          {{include ('MenuAdmin.html') }}</div><br><br><br><br>
          
             <div class="container">    
  <div class="row">
          <div class="jumbotron" id="texto">
              <center> <img src="img/index.jpg"  width="600" height="450" class="img-responsive"/><br></center><br><br>
                 <center><h3>Endereço</h3> </center>
                 <center><p>Rua josé Matias, n°456 </p></center>
                 <center><p>Cnpj: 111213232-0111 </p></center>
                 <center><p>Bairro: Centro </p></center>
                 <center><p>Cidade: Paracatu-MG</p></center>
                 <center><p>Telefone: (38) 3671-0000</p></center>
                 <center><p>Email: nutrisport@hotmail.com</p></center>

            </div>

  </div>
             </div>
       
       
       
      
</body>  

