
    <head>
        <title>NutriSport</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
        
    </head>

    <body> 
        
      <div>
          {{include ('Menu.html') }}</div><br><br><br><br>
          
       
   <div class="container">    
  <div class="row">
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">EVENTO - CROS FIT</div>
        <div class="panel-body"><img src="img/cros5.jpg"  class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Dia: 06/07/2017 Horário: 16:00 Valor do ingresso: 60,00 R$</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">EVENTO - LEVANTAMENTO DE PESO</div>
        <div class="panel-body"><img src="img/peso4.jpg"  class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Dia: 20/07/2017 Horário: 8:00 Valor do ingresso: 40,00 R$</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">EVENTO - FESTIVAL DE DANÇA</div>
        <div class="panel-body"><img src="img/danca4.jpg"  class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Dia: 10/08/2017 Horário: 10:00  Valor do ingresso: 20,00 R$</div>
      </div>
    </div>
  </div>
              
     <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">EVENTO - JUDÔ</div>
        <div class="panel-body"><img src="img/judo.jpg"  class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Dia: 10/07/2017 Horário: 13:00 Valor do ingresso: 10,00 R$</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">EVENTO - CORRIDA</div>
        <div class="panel-body"><img src="img/corrida.jpeg"  class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Dia: 08/08/2017 Horário: 8:00 Valor do ingresso: 15,00 R$</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">EVENTO - BOXE</div>
        <div class="panel-body"><img src="img/boxe.jpg"  class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Dia: 14/08/2017 Horário: 18:00  Valor do ingresso: 20,00 R$</div>
      </div>
    </div>
  </div>

           
</body>  
