
    <head>
        <title>NutriSport</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
        
    </head>

    <body id="body"> 
       <div class="container"></div>
        <div class="row"></div>
            <div class="col-md-6 col-md-offset-3"></div>
                <div id="nutrisport" class=""></div>
                    <center><img id="logoprincipal" src="img/logo4.png"></center>
                   
                   
         <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="nutrisport">Área do Cliente</a>
    </div>
    <ul class="nav navbar-nav">
       <li class="active"><a href="">Home</a></li>
      

      <li><a href="">Contato</a></li>
      <li><a href="editarCliente">Editar Cadastro</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="CadastroCliente"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/sairLogin"><span id="sairLogin" name="sairLogin" class="glyphicon glyphicon-log-in"></span> Sair</a></li>
    </ul>
  </nav> </div>
        
                   
</body>  