
    <head>
        <title>NutriSport</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
        
    </head>

    <body id="body"> 
       <div class="container"></div>
        <div class="row"></div>
            <div class="col-md-6 col-md-offset-3"></div>
                <div id="nutrisport" class=""></div>
                    <center><img id="logoprincipal" src="img/logo4.png"></center>
                   
                   
         <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="nutrisport">Sejam Bem Vindos</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="">Home</a></li>
                
      
      <li><a href="CadastroModalidade">Cad Modalidades</a></li>
      <li><a href="editarModalidade">Editar Modalidade</a></li>
      <li><a href="relatorioModalidade">Relatório Modalidade</a></li>
      <li><a href="CadastroPlano">Cad Planos</a></li>
      <li><a href="editarPlano">Editar Plano</a></li>
      <li><a href="relatorioPlano">Relatório Plano</a></li>
       
    </ul>
    <ul class="nav navbar-nav navbar-right">
       
      <li><a href="/sairLogin"><span id="sairLogin" name="sairLogin" class="glyphicon glyphicon-log-in"></span> Sair</a></li>
      
    </ul>
  </div>
         </nav>
                   
</body>  
