

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
   

</head>
<body>

    <div>
        {{include ('Menu.html') }}</div><br><br><br>



    <div class="jumbotron">
        <h1>Musculação</h1>
        <p id="texto" >O treinamento de força, conhecido popularmente como musculação é uma forma de exercício contra-resistência,
            para o treinamento e desenvolvimento dos músculos esqueléticos. Utiliza a força da gravidade (através de barras,
            halteres, pilhas de peso ou o peso do próprio corpo) e a resistência gerada por equipamentos, 
            elásticos e molas para opor forças aos músculos que, por sua vez, devem gerar força oposta através 
            de contrações musculares que podem ser concêntricas, excêntricas e isométricas.
            Esta forma de treinamento físico é utilizada para fins atléticos (através da melhora no desempenho de atletas), 
            estéticos (no desenvolvimento do volume muscular) e de saúde (auxiliando no tratamento de doenças musculares, ósseas,
            metabólicas, melhora na mobilidade, postura etc.)</p><br>
        <center> <img src="img/musculacao2.jpg" width="600" height="450" class="img-responsive"/><br></center>

    </div>


    <div class="jumbotron">
        <h1>Ginástica</h1>
        <p id="texto">A ginástica é uma forma de exercícios físicos que é classificada em duas modalidades, 
            as competitivas onde existe competição, como nas olimpíadas  e também as não competitivas, 
            como as praticadas em academias. A ginástica muitas vezes é procurada para quem quer melhorar o corpo,
            emagrecer ou até mesmo fortalecer os músculos e também 
            melhorar o aperfeiçoamento mental em forma de relaxar a mente.</p><br>
        <center> <img src="img/ginastica.jpg" width="600" height="450"   class="img-responsive"/><br></center>

    </div>

    <div class="jumbotron">
        <h1>Artes Marciais</h1>
        <p id="texto">Artes marciais são disciplinas físicas e mentais codificadas em diferentes graus, que tem como objetivo 
            um alto desenvolvimento de seus praticantes para que possam defender-se ou submeter o adversário mediante 
            diversas técnicas. São sistemas para treinamento de combate, geralmente sem o uso de armas de fogo ou de outros
            dispositivos modernos. Atualmente, as artes marciais, para além de praticadas enquanto treinamento militar, 
            policial e de defesa pessoal, são também praticadas como Desporto de combate. Existem diversos estilos, sistemas 
            e escolas de artes marciais. O que diferencia as artes marciais da mera violência física (briga de rua) é a organização
            de suas técnicas
            num sistema coerente de combate, desenvolvimento físico, mental e espiritual.</p><br>
        <center> <img src="img/artes1.jpg" width="600" height="450"   class="img-responsive"/><br></center>

    </div>

    <div class="jumbotron">
        <h1>Dança</h1>
        <p id="texto">A dança é uma das três principais artes cênicas da antiguidade, ao lado do teatro e da música.
            No antigo Egito já se realizava as chamadas danças astro-teológicas em homenagem a Osíris. Na Grécia,
            a dança era frequentemente vinculada aos jogos, em especial aos olímpicos. A dança caracteriza-se pelo 
            uso do corpo seguindo movimentos previamente estabelecidos (coreografia) ou improvisados (dança livre). Na 
            maior parte dos casos, a dança, com passos ritmados ao som e compasso de música e envolve a expressão de sentimentos
            potenciados por ela. </p><br>
        <center> <img src="img/danca.jpg" width="600" height="450"   class="img-responsive"/><br></center>

    </div>





</body>

