
   
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
   

</head>
<body>
    <div>
        {{include ('Menu.html') }}</div><br><br><br>
  
            
    
     <div class="jumbotron">
        <h1>Diário</h1>
        <p>O Plano feito para você que não frequenta academia todos os dias, ou que está de passagem pela cidade. O plano diário é uma alternativa para você não desistir das atividades físicas..</p>
     
     </div>
      
      
       <div class="jumbotron">
        <h1>Semanal</h1>
        <p>O Plano para quem está disposto a ter a uma semana cheia de disposição,com muita atividade física, saúde e bem-estar.</p>
     
       </div>
        
       <div class="jumbotron">
        <h1>Quinzenal</h1>
        <p>O plano quinzenal é para aqueles que desejam frequentar a academia durante 15 dias corridos. Ideal para aqueles que estão tendo um período de férias e aproveitar oara não ficarem parados sem prática de atividades físicas.</p>
     
       </div>
        
        <div class="jumbotron">
        <h1>Mensal</h1>
        <p>O plano consiste no valor mensal atual da academia. O aluno paga por mês no dia do seu vencimento. Plano ideal para aqueles que são frequentes na academia. </p>
     
       </div>
        
        <div class="jumbotron">
        <h1>Semestral</h1>
        <p>O plano semestral traz grandes vantagens para o aluno, pois ganham descontos especiais, são isentos de matrícula, além de terem 6 meses de atividades físicas sem terem com o que preocupar.</p>
     
       </div>
        
         <div class="jumbotron">
        <h1>Anual</h1>
        <p>O plano ideal para aqueles que querem ter um ano cheio de resultados. Esse plano oferece vantagens imperdíveis. O aluno não tem reajustes de mensalidades nesse período, é isento de matrícula, e possui descontos especiais.</p>
     
         </div>
        
        <div class="jumbotron">
        <h1>Corporativo</h1>
        <p>Você que é funcionário de uma de nossas empresas conveniadas possui descontos especiais, aproveite essa oportunidade para começar suas atividades..</p>
     
         </div>
        
        
      
      
      
    </body>